[submodule "xemacs/pkgrepos/world/gits/mingus"]
	path = xemacs/pkgrepos/world/gits/mingus
	url = git://github.com/pft/mingus.git
[submodule "xemacs/pkgrepos/world/gits/rinari"]
	path = xemacs/pkgrepos/world/gits/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "xemacs/pkgrepos/world/gits/yasnippet"]
	path = xemacs/pkgrepos/world/gits/yasnippet
	url = git@github.com:sharad/yasnippet.git
[submodule "xemacs/pkgrepos/world/gits/drag-stuff"]
	path = xemacs/pkgrepos/world/gits/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "xemacs/pkgrepos/world/gits/BlogMax"]
	path = xemacs/pkgrepos/world/gits/BlogMax
	url = https://github.com/billstclair/BlogMax
[submodule "xemacs/pkgrepos/world/gits/slime-proxy"]
	path = xemacs/pkgrepos/world/gits/slime-proxy
	url = https://github.com/3b/slime-proxy.git
[submodule "xemacs/pkgrepos/world/gits/worklog"]
	path = xemacs/pkgrepos/world/gits/worklog
	url = https://github.com/vvv/work-log.git
[submodule "xemacs/packages/tea-time"]
	path = xemacs/packages/tea-time
	url = git://github.com/krick/tea-time.git
[submodule "xemacs/pkgrepos/world/gits/mk-project"]
	path = xemacs/pkgrepos/world/gits/mk-project
	url = https://github.com/mattkeller/mk-project.git
[submodule "xemacs/pkgrepos/world/gits/eproject-another"]
	path = xemacs/pkgrepos/world/gits/eproject-another
	url = https://github.com/jrockway/eproject.git
[submodule "xemacs/pkgrepos/world/gits/eproject"]
	path = xemacs/pkgrepos/world/gits/eproject
	url = http://repo.or.cz/r/eproject.git
[submodule "xemacs/pkgrepos/world/gits/project-buffer-mode"]
	path = xemacs/pkgrepos/world/gits/project-buffer-mode
	url = http://repo.or.cz/r/project-buffer-mode.git
[submodule "xemacs/pkgrepos/world/gits/perspective-el"]
	path = xemacs/pkgrepos/world/gits/perspective-el
	url = https://github.com/nex3/perspective-el.git
[submodule "xemacs/pkgrepos/world/gits/fic-mode"]
	path = xemacs/pkgrepos/world/gits/fic-mode
	url = https://github.com/lewang/fic-mode.git
[submodule "xemacs/pkgrepos/world/gits/org-jira"]
	path = xemacs/pkgrepos/world/gits/org-jira
	url = https://github.com/baohaojun/org-jira.git
[submodule "xemacs/pkgrepos/world/gits/todostack"]
	path = xemacs/pkgrepos/world/gits/todostack
	url = https://github.com/EvansWinner/todostack.git
[submodule "xemacs/pkgrepos/world/gits/todotxt-mode"]
	path = xemacs/pkgrepos/world/gits/todotxt-mode
	url = https://github.com/avillafiorita/todotxt-mode.git
[submodule "xemacs/pkgrepos/world/gits/powerline"]
	path = xemacs/pkgrepos/world/gits/powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "xemacs/pkgrepos/world/gits/nyan-mode"]
	path = xemacs/pkgrepos/world/gits/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "xemacs/pkgrepos/world/gits/disaster"]
	path = xemacs/pkgrepos/world/gits/disaster
	url = https://github.com/jart/disaster.git
[submodule "xemacs/pkgrepos/world/gits/e-sink"]
	path = xemacs/pkgrepos/world/gits/e-sink
	url = https://github.com/lewang/e-sink.git
[submodule "xemacs/pkgrepos/world/gits/helm"]
	path = xemacs/pkgrepos/world/gits/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "xemacs/pkgrepos/world/gits/espuds"]
	path = xemacs/pkgrepos/world/gits/espuds
	url = https://github.com/rejeep/espuds.git
[submodule "xemacs/pkgrepos/world/gits/cclookup"]
	path = xemacs/pkgrepos/world/gits/cclookup
	url = git@github.com:tsgates/cclookup.git
[submodule "xemacs/pkgrepos/world/gits/ya-cppref"]
	path = xemacs/pkgrepos/world/gits/ya-cppref
	url = git@github.com:whitypig/ya-cppref.git
[submodule "xemacs/pkgrepos/world/gits/devhelp-index"]
	path = xemacs/pkgrepos/world/gits/devhelp-index
	url = git@github.com:martine/devhelp-index.git
[submodule "xemacs/pkgrepos/world/gits/emacs-apt"]
	path = xemacs/pkgrepos/world/gits/emacs-apt
	url = git@github.com:cgroza/Emacs-apt.git
[submodule "utils/ext/gits/vala-notmuch"]
	path = utils/ext/gits/vala-notmuch
	url = https://github.com/spaetz/vala-notmuch.git
[submodule "utils/ext/gits/notmuch-addrlookup-c"]
	path = utils/ext/gits/notmuch-addrlookup-c
	url = https://github.com/aperezdc/notmuch-addrlookup-c.git
[submodule "xemacs/pkgrepos/world/gits/emacs-twiki-mode"]
	path = xemacs/pkgrepos/world/gits/emacs-twiki-mode
	url = https://github.com/christopherjwhite/emacs-twiki-mode.git
[submodule "zshall/git/ohmyzsh"]
	path = zshall/git/ohmyzsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "xemacs/pkgrepos/world/gits/org-html5presentation"]
	path = xemacs/pkgrepos/world/gits/org-html5presentation
	url = https://github.com/kinjo/org-html5presentation.el.git
[submodule "xemacs/pkgrepos/world/gits/jade-mode"]
	path = xemacs/pkgrepos/world/gits/jade-mode
	url = https://github.com/brianc/jade-mode.git
[submodule "xemacs/pkgrepos/world/gits/gnus-outlook-style"]
	path = xemacs/pkgrepos/world/gits/gnus-outlook-style
	url = git@github.com:sharad/gnus-outlook-style.git
[submodule "gitsubmodules/utils/vcs/git/git-sync"]
	path = gitsubmodules/utils/vcs/git/git-sync
	url = https://github.com/simonthum/git-sync.git
