[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
ExecStart=/usr/bin/redshift -t 6500:5000 -b 1.0:0.8
Restart=always

[Install]
WantedBy=default.target
