@-moz-document url-prefix(http) {
input {
border: 1px inset gray;
background-color: white;
background: #ffffff;
/* color: black; */
/* -moz-appearance: none !important; */
}

textarea {
border: 1px inset gray;
background-color: black;
color: white;
/* -moz-appearance: none !important; */
}

select {
border: 1px inset gray;
background-color: black;
color: white;
/* -moz-appearance: none !important; */
}

input[type="radio"],
input[type="checkbox"] {
border: 1px inset gray ! important;
background-color: white ! important;
color: ThreeDFace ! important;
/* -moz-appearance: none !important; */
}

*|*::-moz-radio {
background-color: white;
/* -moz-appearance: none !important; */
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
border: 1px outset gray;
background-color: #eeeeee;
color: black;
/* -moz-appearance: none !important; */
}


input[type="text"] {
                     border: 1px inset gray;
                     background-color: Orange;
                     color: black;
                     moz-appearance: none !important;
                     }

button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
background-color: lightgray !important;
color: black;
/* -moz-appearance: none !important; */
}


body {
background-color: black;
/* background: Black  ! important; */
/* background-color: Black  ! important; */
/* background: white; */
/* background: Black; */
/* color: black; */
/* color: grey !important */
/* color: grey; */
 color: white;
 /* -moz-appearance: none !important; */
}

/* :link, :link * { color: #4986dd !important }; */
/* :visited, :visited * { color: #d75047 !important }; */

:link, :link * { color: Green !important };
:visited, :visited * { color: #d75047 !important };

}
